# Build directories
src/staticanalysis/build

# virtual environment directories
venv/
env/

# Python environment files
.env
.venv/


# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Backup files created by instrumentation
*.backup

tests/kernel_instrumenter_tests/test_results.json
webviewer_pids.txt
