[submodule "overhead/gem5-SALAM"]
	path = overhead/gem5-SALAM
	url = git@github.com:dandurisrihari/gem5-SALAM.git
[submodule "overhead/ticks_calc"]
	path = overhead/ticks_calc
	url = git@github.com:dandurisrihari/ticks_calc.git
