# Build directories
src/staticanalysis/build

# virtual environment directories
venv/
env/

# Python environment files
.env
.venv/


# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Backup files created by instrumentation
*.backup

# Ignore all JSON and TXT files
*.json
*.txt

# But keep requirements.txt
!requirements.txt

# Ignore CSV and .text files
*.csv
*.text
*.yaml

# LLM Analysis output files
!data/llmanalysis/*

# Kernel instrumenter output files
!data/instrumentation/*

#  Ignore coverage
.coverage

# ignore test log files
logs/*