venv/
src/staticanalysis/build
src/instrumentation/__pycache__/__init__.cpython-312.pyc
src/instrumentation/__pycache__/analyzer.cpython-312.pyc
src/instrumentation/__pycache__/cli.cpython-312.pyc
src/instrumentation/__pycache__/config.cpython-312.pyc
src/instrumentation/__pycache__/core.cpython-312.pyc
src/instrumentation/__pycache__/instrumenter.cpython-312.pyc
src/instrumentation/__pycache__/parser.cpython-312.pyc
src/instrumentation/__pycache__/processor.cpython-312.pyc
